.forcastCard {
    height: 300px;
    width: 240px;
}

.bigGraph {
    height: 400px;
    color: black;
    text-align: center;
    width: 1100px;
    align-self: center;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.card {
    margin: 30px;
    background-color: inherit;
    box-shadow: -3px -3px 12px rgba(255, 255, 255, .8), 3px 3px 8px rgba(0, 0, 0, .1);
    border-radius: 20px;
    color: grey;
}

.top {
    width: 100%;
    font-size: inherit;
}

.cardimg {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    width: 50%
}

.today {
    height: 400px;
    width: 240px;
}

.middle {
    width: auto;
    text-align: center;
    font-size: 25px;
    margin-top: 10px;
}

.cardtitle {
    margin: 10px;
}

.category {
    font-size: large;
}

.big {
    font-size: 1.5em;
}

.graphContainer {
    flex-shrink: 0;
    margin-left: -35px;
    width: 110%;
    height: 350px;
    font-size: 30px;
}

.graph {
    height: 200px;
}

.bottom {
    height: 100%;
    position: relative;
}

.tempLabel {
    position: absolute;
    margin-top: 270px;
    margin-left: 45%;
    justify-self: center;
    color: #00916e;
}

@media (max-width: 1230px) {
    .cardContainer {
        flex-direction: column;
    }
    .bigGraph {
        width: 450px;
    }
    .graphContainer {
        margin-left: -45px;
        width: 505px;
        height: 400px;
    }
    .tempLabel {
        margin-left: 35%;
    }
    .today {
        width: 450px;
        align-self: center;
    }
    .today .cardtitle {
        display: inline-block;
    }
    .cardimg {
        margin-top: 0;
    }
    .forcastCard {
        width: 195px;
    }
    .forcast .cardimg {
        width: 70%;
    }
}