body {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.1em;
    color: #F5F5F5;
    background-color: #F0F0F0;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.page-container {
    display: grid;
    height: 100%;
}

.navbut {
    font-size: 1.3em;
    font-weight: 300;
    justify-content: center;
    color: inherit;
    text-decoration: none;
    width: 100%;
    height: 100px;
}

.navbut:hover {
    background-color: #F0F0F0;
}

.loading {
    : blue;
}